.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-items: center;
}
.align-center{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
/* For WebKit browsers */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #333; /* Dark background color */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000; /* Black color */
    border-radius: 10px;
  }
  
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #000 #333;
  
  /* For Internet Explorer and Edge */
  * {
    scrollbar-color: #000 #333;
  }